
<html >
<head>

</head>

<body>

<div class="clr"></div>

<!--main-container start-->
<div class="main-container"> 
  
<!--register-container start-->  
<div class="register-container">
<div class="left"><img src="images/form-tp-bg.png" alt="" /></div>
<div class="rc-midbg">
<h2>Register</h2>  
<div class="form-bx">
<%= form_for(@user,:validate => true) do |f| %>
 <%= render 'shared/error_messages' %>  
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30%" align="right" valign="top" class="pad-tp-10 pad-rt-3"><%= f.label :name %></td>
    <td width="70%" valign="top"><%= f.text_field :name, :class => "input"%></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
 <tr>
   <td align="right" valign="top" class="pad-tp-10 pad-rt-3"> <%= f.label :email %></td>
   <td valign="top"> <%= f.text_field :email, :class => "input"%></td>
 </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
   <td align="right" valign="top" class="pad-tp-10 pad-rt-3"> <%= f.label :password %></td>
   <td valign="top"><%= f.password_field :password, :class => "input"%></td>
 </tr>
   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
 <tr>
   <td align="right" valign="top" class="pad-tp-10 pad-rt-3"><%= f.label :password_confirmation, "Confirmation" %></td>
   <td valign="top"> <%= f.password_field :password_confirmation, :class => "input"%></td>
 </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
    <tr>
    <td colspan="2"><%= f.submit "Submit", :class => "register-button" %></td>
    </tr>
   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<% end %>
  
</div>
 </div>
</div> 
<!--register-container end--> 
</div> 
</div> 
</div>
<!--main-container end-->
<script type="text/javascript">
$(document).ready(function(){
$(".home-btn").hide();
});
</script>

</body>
</html>

