<html>
<div id="<%= dom_id m %>" class="post-box">
            <div class="lft-col">
		<% if m.user.has_photo? %>
      		  <%= image_tag m.user.photo_path, {:height => 44, :width=> 44} %>
		<% else %>
		  <%= image_tag("/photo_store/no_photo.jpg", :alt => "No image",:height => 44, :width=> 44) %>
	        <% end %>
	    </div>
            <div class="rht-col">
              <p><span><strong><%=  m.user.name %></strong></span>posted
		<span class="grey">
			<%= time_ago_in_words(m.created_at) %>
			<% if ( current_user.id == m.user_id ) %>
				  <% if ( m.updated_at > (Time.now - 30.seconds)) %>
	                        	<%= link_to (image_tag ("/images/del.png", :alt => "No image",:height => 19, :width=> 15)),
	                            	m,:confirm => 'Are you sure you want to delete this Micropost ?',
	                            	:method => :delete,:class => "right", :remote => true %>
				  <% else %>
				  <% end %>
		       	       <% end %>
		</span>
	      </p>
              <p align="justify"><%= m.content %></p>
              <div class="view-doc-delete">
                <div class="rite-blk">
                  <p class="left">
		  <% if m.has_photo? %>
      		    <% foo = m.extension %>
		    <% if foo == "pdf" %>
		      <%= link_to (image_tag("/fileimage/pdf.gif", :alt => "No image",:height => 19, :width=> 15)), m.photo_path, :target => '_blank' %>
                      <%= foo %>
	              <% else if foo == "doc" || foo == "docx"  %>
                        <%= link_to (image_tag("/fileimage/doc.gif", :alt => "No image",:height => 19, :width=> 15)), m.photo_path, :target => '_blank' %>
                        <%= foo %>
	                <% else if foo == "odt" %>
		          <%= link_to (image_tag("/fileimage/doc.gif", :alt => "No image",:height => 19, :width=> 15)), m.photo_path, :target => '_blank' %>
                          <%= foo %>
	                  <% else if foo == "ppt" || foo == "pptx" %>
		            <%= link_to (image_tag("/fileimage/ppt.gif", :alt => "No image",:height => 19, :width=> 15)), m.photo_path,
				:target => '_blank' %>
 		            <%= foo %>
	                    <% else if (foo == "png" || foo == "jpg") || (foo == "jpeg" || foo == "gif" )%>
		              <%= link_to (image_tag(m.photo_path, :alt => "No image",:height => 19, :width=> 15)), m.photo_path, :target => '_blank' %>
		              <%= foo %>
	                    <% else %>
			      <%= link_to (image_tag("/fileimage/other.gif", :alt => "No image",:height => 19, :width=> 15)), m.photo_path,
				  :target => '_blank' %>
		              <%= foo %>
		            <% end %>
		          <% end %>
	                <% end %>
	              <% end %>
	            <% end %>
		  <% end %>
		  </p>
                </div>
              </div>
             
